In [27]:
import requests
import csv

url = 'https://jsonplaceholder.typicode.com/users'

response = requests.get(url)

if response.status_code == 200:
    users = response.json() 
    
    csv_columns = [
        'id', 'name', 'username', 'email', 'street', 'suite', 'city', 'zipcode', 
        'lat', 'lng', 'phone', 'website', 'company_name', 'catchPhrase', 'bs'
    ]
    
    with open('users_data.csv', 'w', encoding='utf-8') as csvfile:
        writer = csv.DictWriter(csvfile, fieldnames=csv_columns)
        writer.writeheader() 
        
        for user in users:
            writer.writerow({
                'id': user['id'],
                'name': user['name'],
                'username': user['username'],
                'email': user['email'],
                'street': user['address']['street'],
                'suite': user['address']['suite'],
                'city': user['address']['city'],
                'zipcode': user['address']['zipcode'],
                'lat': user['address']['geo']['lat'],
                'lng': user['address']['geo']['lng'],
                'phone': user['phone'],
                'website': user['website'],
                'company_name': user['company']['name'],
                'catchPhrase': user['company']['catchPhrase'],
                'bs': user['company']['bs']
            })
    
    print("Data has been successfully extracted and saved in 'users_data.csv'.")
else:
    print(f"Failed to connect to the API. Error code: {response.status_code}")

Data has been successfully extracted and saved in 'users_data.csv'.

In [28]:
import pandas as pd
pd.read_csv('users_data.csv')

,id,name,username,email,street,suite,city,zipcode,lat,lng,phone,website,company_name,catchPhrase,bs
0,1,Leanne Graham,Bret,Sincere@april.biz,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,1-770-736-8031 x56442,hildegard.org,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,010-692-6593 x09125,anastasia.net,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653,1-463-123-4447,ramiro.info,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990,493-170-9623 x156,kale.biz,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342,(254)954-1289,demarco.info,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478,1-477-935-8478 x6430,ola.org,Considine-Lockman,Synchronised bottom-line interface,e-enable innovative applications
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984,210.067.6132,elvis.io,Johns Group,Configurable multimedia task-force,generate enterprise e-tailers
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677,586.493.6943 x140,jacynthe.com,Abernathy Group,Implemented secondary concept,e-enable extensible e-tailers
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889,(775)976-6794 x41206,conrad.com,Yost and Sons,Switchable contextually-based project,aggregate real-time technologies
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232,024-648-3804,ambrose.net,Hoeger LLC,Centralized empowering task-force,target end-to-end models

In [111]:
import requests as req
from bs4 import BeautifulSoup
import csv

req = req.get('https://www.scrapethissite.com/pages/forms/?page_num=1')
soup = BeautifulSoup(req.content, 'html.parser')
teams =  soup.find_all('tr' , attrs={'class':'team'})
name = []
for i in range(len(teams)):
    name.append(teams[i].find('td', {'class':'name'}).text.strip('\n').strip())
year = []
for i in range(len(teams)):
    year.append(teams[i].find('td', {'class':'year'}).text.strip('\n').strip())

wins = []
for i in range(len(teams)):
    wins.append(teams[i].find('td', {'class':'wins'}).text.strip('\n').strip())
losses = []
for i in range(len(teams)):
    losses.append(teams[i].find('td', {'class':'losses'}).text.strip('\n').strip())


ot_losses = []
for i in range(len(teams)):
    ot_losses.append(teams[i].find('td', {'class':'ot-losses'}).text.strip('\n').strip())


Win   = []
for i in range(len(teams)):
    Win.append(teams[i].find('td', {'class':'pct'}).text.strip('\n').strip())


gf = []
for i in range(len(teams)):
    gf.append(teams[i].find('td', {'class':'gf'}).text.strip('\n').strip())


ga   = []
for i in range(len(teams)):
    ga.append(teams[i].find('td', {'class':'ga'}).text.strip('\n').strip())

In [109]:
import requests as req
from bs4 import BeautifulSoup
import csv

req = req.get('https://www.scrapethissite.com/pages/forms/?page_num=1')
soup = BeautifulSoup(req.content, 'html.parser')
teams = soup.find_all('tr', attrs={'class': 'team'})

name = [team.find('td', {'class': 'name'}).text.strip() for team in teams]
year = [team.find('td', {'class': 'year'}).text.strip() for team in teams]
wins = [team.find('td', {'class': 'wins'}).text.strip() for team in teams]
losses = [team.find('td', {'class': 'losses'}).text.strip() for team in teams]
ot_losses = [team.find('td', {'class': 'ot-losses'}).text.strip() for team in teams]
win_pct = [team.find('td', {'class': 'pct'}).text.strip() for team in teams]
gf = [team.find('td', {'class': 'gf'}).text.strip() for team in teams]
ga = [team.find('td', {'class': 'ga'}).text.strip() for team in teams]

with open('teams_data.csv', 'w', newline='', encoding='utf-8') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(['Name', 'Year', 'Wins', 'Losses', 'OT Losses', 'Win', 'GF', 'GA'])
    for i in range(len(teams)):
        writer.writerow([name[i], year[i], wins[i], losses[i], ot_losses[i], win_pct[i], gf[i], ga[i]])

print("Data has been saved to the file teams_data.csv")

Data has been saved to the file teams_data.csv

In [110]:
pd.read_csv('teams_data.csv')

                     Name  Year  Wins  Losses  OT Losses  Win %   GF   GA
0           Boston Bruins  1990    44      24        NaN  0.550  299  264
1          Buffalo Sabres  1990    31      30        NaN  0.388  292  278
2          Calgary Flames  1990    46      26        NaN  0.575  344  263
3      Chicago Blackhawks  1990    49      23        NaN  0.613  284  211
4       Detroit Red Wings  1990    34      38        NaN  0.425  273  298
5         Edmonton Oilers  1990    37      37        NaN  0.463  272  272
6        Hartford Whalers  1990    31      38        NaN  0.388  238  276
7       Los Angeles Kings  1990    46      24        NaN  0.575  340  254
8   Minnesota North Stars  1990    27      39        NaN  0.338  256  266
9      Montreal Canadiens  1990    39      30        NaN  0.487  273  249
10      New Jersey Devils  1990    32      33        NaN  0.400  272  264
11     New York Islanders  1990    25      45        NaN  0.312  223  290
12       New York Rangers  1990    36      31        NaN  0.450  297  265
13    Philadelphia Flyers  1990    33      37        NaN  0.412  252  267
14    Pittsburgh Penguins  1990    41      33        NaN  0.512  342  305
15       Quebec Nordiques  1990    16      50        NaN  0.200  236  354
16        St. Louis Blues  1990    47      22        NaN  0.588  310  250
17    Toronto Maple Leafs  1990    23      46        NaN  0.287  241  318
18      Vancouver Canucks  1990    28      43        NaN  0.350  243  315
19    Washington Capitals  1990    37      36        NaN  0.463  258  258
20          Winnipeg Jets  1990    26      43        NaN  0.325  260  288
21          Boston Bruins  1991    36      32        NaN  0.450  270  275
22         Buffalo Sabres  1991    31      37        NaN  0.388  289  299
23         Calgary Flames  1991    31      37        NaN  0.388  296  305
24     Chicago Blackhawks  1991    36      29        NaN  0.450  257  236